{% extends "base.html" %}
{% block base %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">接口测试平台</a>
            <link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#">Dashboard</a></li>-->
            <li><a href="/setting"><i class="glyphicon glyphicon-asterisk"></i> 设置</a></li>
            <li><a href="/logout"><i class="glyphicon glyphicon-user"></i> 退出</a></li>
            <li><a href="/help"><i class="glyphicon glyphicon-hand-up"></i> 帮助</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/project/"><i class="glyphicon glyphicon-th-large"></i>项目管理 <span class="sr-only">(current)</span></a></li>
            <!--<li><a href="#"></a></li>-->
            <li><a href="/module/"><i class="glyphicon glyphicon-th"></i> 模块管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/testcase/"><i class="glyphicon glyphicon-th-list"></i> 用例管理</a></li>
            <li><a href=""><i class="glyphicon glyphicon-list"></i> 任务管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href=""><i class="glyphicon glyphicon-blackboard"></i> mock Server</a></li>
            <li><a href=""><i class="glyphicon glyphicon-cog"></i> 测试工具</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
           {% if type == "debug" %}
          <h4 class="page-header">postman
          </h4>
          <!--<div class="table-responsive">-->



            <div class="input-group">
                <span class="input-group-addon">* URL</span>
                <input id="req_url" type="text" class="form-control" placeholder="url">
            </div><!-- /input-group -->
        <br>
            <div>
                <label>* 请求方法：</label>
                <label class="radio-inline">
                    <input TYPE="radio" name="req_method" id="get" value="get" checked> GET
                </label>
                <label class="radio-inline">
                    <input TYPE="radio" name="req_method" id="post" value="post" > POST
                </label>
                <label class="radio-inline">
                    <input TYPE="radio" name="req_method" id="put" value="put" > PUT
                </label>
                <label class="radio-inline">
                    <input TYPE="radio" name="req_method" id="delete" value="delete" > DELETE
                </label>
            </div>

            <div class="input-group">
                <span class="input-group-addon">headers</span>
                <input id="headers" type="text" class="form-control" placeholder="headers">
            </div><!-- /input-group -->

            <div style="margin-top: 10px;">
                <label>* 参数类型：</label>
                <label class="radio-inline">
                    <input TYPE="radio" name="par_type" id="form" value="form" > form-data
                </label>
                <label class="radio-inline">
                    <input TYPE="radio" name="par_type" id="json" value="json" > json
                </label>
            </div>

            <div class="input-group">
                <span class="input-group-addon">参数</span>
                <input id="parameter" type="text" class="form-control">
            </div><!-- /input-group -->
            <p style="color:#8B8989">说明：以字典的方式设置参数，如：{"id":1, "name":"名称"}</p>

            ProjectInit("project_name")
            <div style="float: right;margin-right: 10px;">
            <button type="button" class="btn btn-primary" onclick="jsFun()">发送</button>
            </div>

            <div style="margin-top: 30px;">
                <p>返回结果：</p>
                <textarea id="result" class="form-control" rows="10" name="textarea"></textarea>
            </div>

            <div style="margin-top: 30px;">
                <p>断言结果：</p>
                <textarea id="assert_text" class="form-control" rows="5" name="textarea"></textarea>
            </div>
            <div style="margin-top: 20px;">
                <label>项目:</label>
                <select class="selectpicker" id="project_name">
                </select>

                <label>模块:</label>
                <select class="selectpicker" id="module_name">
                      <option>Mustard</option>
                      <option>Ketchup</option>
                      <option>Barbecue</option>
                </select>
            </div>
             <div style="float: right;margin-right: 10px;">
                <button type="button" class="btn btn-primary" onclick="saveFun()">保存</button>
            </div>

          {% endif %}
        </div>
      </div>
    </div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    function jsFun() {
        let url = $("#req_url").val();
        let method = $('input[name="req_method"]:checked').val();
        let headers = $("#headers").val();
        let type  = $('input[name="par_type"]:checked').val();
        let parameter = $("#parameter").val();

        if(url ===""){
            window.alert("url不能为空");
            return;
        }

        $.post("/testcase/debug",
            {
              url:url,
              method:method,
              headers:headers,
              type:type,
              parameter:parameter
            },
        function(data,status){
          alert("数据：" + data.result);
          console.log("返回结果", data.result);
          document.querySelector("#result").value = data.result;
        });

    };


</script>
{% endblock %}